<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>

    <div>Dear {{fullName}},</div>
    <br>
        plase click below link for reset your password</br>
        <br>
        <a href="{{link}}">{{link}}</a>
        <br>
        Warm regards,<br>
        Diagnostica

    </p>
</body>
</html>