<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>

    <div>Dear {{fullName}},</div>
    <br>
    <p>You've been invited to join Diagnostica, your digital health companion.<br>
        What you can do:<br>
            - Track recovery through guided PROMs</br>
            - View your health progress visually</br>
            - Receive timely reminders & expert insights<br>
            <br>
                Click below to get started:
            <br>
            <a href="https://play.google.com/store/apps/details?id=com.diagnos.diagnostica_mobile">https://play.google.com/store/apps/details?id=com.diagnos.diagnostica_mobile</a><br>
            <br>
        For assistance contact us at support@diagnostica.app.<br>
        <br>
        Warm regards,<br>
        Diagnostica

    </p>
</body>
</html>